<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item">
        <img
          src="https://i.seadn.io/gcs/files/2afb22e376d9cfa9832a9fd5550e3279.png?auto=format&w=1000"
        />
        <div class="details">
          <span class="nft-details-item nft-name">Name of NFT</span>
          <span class="nft-details-item nft-address"
            >Owner: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-address"
            >Seller: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-price">Price: 0.01 ETH</span>
          <span class="nft-details-item">
            <button class="btn-buy">Buy</button></span
          >
        </div>
      </div>
      <div class="grid-item">
        <img
          src="https://i.seadn.io/gcs/files/2afb22e376d9cfa9832a9fd5550e3279.png?auto=format&w=1000"
        />
        <div class="details">
          <span class="nft-details-item nft-name">Name of NFT</span>
          <span class="nft-details-item nft-address"
            >Owner: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-address"
            >Seller: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-price">Price: 0.01 ETH</span>
          <span class="nft-details-item">
            <button class="btn-buy">Buy</button></span
          >
        </div>
      </div>
      <div class="grid-item">
        <img
          src="https://i.seadn.io/gcs/files/2afb22e376d9cfa9832a9fd5550e3279.png?auto=format&w=1000"
        />
        <div class="details">
          <span class="nft-details-item nft-name">Name of NFT</span>
          <span class="nft-details-item nft-address"
            >Owner: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-address"
            >Seller: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-price">Price: 0.01 ETH</span>
          <span class="nft-details-item">
            <button class="btn-buy">Buy</button></span
          >
        </div>
      </div>
      <div class="grid-item">
        <img
          src="https://i.seadn.io/gcs/files/2afb22e376d9cfa9832a9fd5550e3279.png?auto=format&w=1000"
        />
        <div class="details">
          <span class="nft-details-item nft-name">Name of NFT</span>
          <span class="nft-details-item nft-address"
            >Owner: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-address"
            >Seller: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-price">Price: 0.01 ETH</span>
          <span class="nft-details-item">
            <button class="btn-buy">Buy</button></span
          >
        </div>
      </div>
      <div class="grid-item">
        <img
          src="https://i.seadn.io/gcs/files/2afb22e376d9cfa9832a9fd5550e3279.png?auto=format&w=1000"
        />
        <div class="details">
          <span class="nft-details-item nft-name">Name of NFT</span>
          <span class="nft-details-item nft-address"
            >Owner: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-address"
            >Seller: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-price">Price: 0.01 ETH</span>
          <span class="nft-details-item">
            <button class="btn-buy">Buy</button></span
          >
        </div>
      </div>
      <div class="grid-item">
        <img
          src="https://i.seadn.io/gcs/files/2afb22e376d9cfa9832a9fd5550e3279.png?auto=format&w=1000"
        />
        <div class="details">
          <span class="nft-details-item nft-name">Name of NFT</span>
          <span class="nft-details-item nft-address"
            >Owner: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-address"
            >Seller: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-price">Price: 0.01 ETH</span>
          <span class="nft-details-item">
            <button class="btn-buy">Buy</button></span
          >
        </div>
      </div>
      <div class="grid-item">
        <img
          src="https://i.seadn.io/gcs/files/2afb22e376d9cfa9832a9fd5550e3279.png?auto=format&w=1000"
        />
        <div class="details">
          <span class="nft-details-item nft-name">Name of NFT</span>
          <span class="nft-details-item nft-address"
            >Owner: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-address"
            >Seller: 0x1454dfg45724dfg4287d4245</span
          >
          <span class="nft-details-item nft-price">Price: 0.01 ETH</span>
          <span class="nft-details-item">
            <button class="btn-buy">Buy</button></span
          >
        </div>
      </div>
    </div>
  </body>
</html>
